@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../scss/variables";
@import "../scss/navbar";
@import "../scss/cards";
@import "../scss/footer";
@import "../scss/masthead";
@import "../scss/mixins";


body {
    background-color: $background-color;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.text-center {
    color: white;
    margin-top: 30px;
}

/* Style the Previous link */
.pagination .page-item:first-child .page-link {
    color: gray;
}

/* Style the Next link */
.pagination .page-item:last-child .page-link {
    color: lightblue;
}

/* Style the number links */
.pagination .page-item .page-link {
    color: lightblue;
}

/* Style for hover effect on login button */
.btn-primary {
    background-color: black;
}

.btn-primary:hover {
    background-color: #81CFC2;
}


@media (max-width: 800px) {

    /* Adjust the padding of the text-block on small screens */
    .img {
        width: 100%;
        height: 100%;
    }

    .masthead {
        min-height: 30vh;
    }

    h4 {
        font-size: calc(0.2rem + 3.3vw);
        margin-top: 150px;
    }

    .hero-text {
        display: none;
    }

    .color-overlay {
        height: 100%;
        justify-content: center;
    }

    .text-center {
        margin-top: 30px;
    }

    .card {
        color: white;
        margin: 15px;
    }

    .card .card-header {
        background-color: #81CFC2;
        padding: 20px;
    }

    .card .card-body {
        color: black;
        margin: 10px;
    }
}

@media (max-width: 576px) {

    /* Adjust the font size of the heading on extra small screens */
    .header {
        font-size: 2rem;
    }
}